<a href="https://colab.research.google.com/github/vamsivenna83/DataAnalysisProjects/blob/Pyspark/1_Python_Basics.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
a = 12
b = 2

print(a + b)
print(a**b)
print(a/b)

14
144
6.0

In [2]:
pip install numpy

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: numpy in /usr/local/lib/python3.7/dist-packages (1.21.6)

In [3]:
import numpy as np

# mathematical constants
print(np.pi)
print(np.e)

# trignometric functions
angle = np.pi/4
print(np.sin(angle))
print(np.cos(angle))
print(np.tan(angle))

3.141592653589793
2.718281828459045
0.7071067811865475
0.7071067811865476
0.9999999999999999

1.1.4.3 **Working with Lists**

Lists are a versatile way of organizing your data in Python. Here are some examples, more can be found on  Khan Academy video.

In [4]:
xList = [1, 2, 3, 4]
xList

[1, 2, 3, 4]

In [5]:
# Concatenation
x = [1, 2, 3, 4];
y = [5, 6, 7, 8];

x + y

[1, 2, 3, 4, 5, 6, 7, 8]

In [6]:
np.sum(x)

10

In [7]:
print(np.add(x,y))
print(np.dot(x,y))

[ 6  8 10 12]
70

In [18]:
ZList = [1, 2, 3, 4, 5, 6, 7, 8]

In [19]:
for Z in ZList:
    print("sin({0}) = {1}".format(Z,np.sin(Z)))

sin(1) = 0.8414709848078965
sin(2) = 0.9092974268256817
sin(3) = 0.1411200080598672
sin(4) = -0.7568024953079282
sin(5) = -0.9589242746631385
sin(6) = -0.27941549819892586
sin(7) = 0.6569865987187891
sin(8) = 0.9893582466233818

In [29]:
for Z in ZList:
  print("The value index {0} multiplies with same vaue is {1}".format(Z , Z*Z))

The value index 1 multiplies with same vaue is 1
The value index 2 multiplies with same vaue is 4
The value index 3 multiplies with same vaue is 9
The value index 4 multiplies with same vaue is 16
The value index 5 multiplies with same vaue is 25
The value index 6 multiplies with same vaue is 36
The value index 7 multiplies with same vaue is 49
The value index 8 multiplies with same vaue is 64

In [16]:
for x in xList:
    print("sin({0}) = {1:8.5f}".format(x,np.sin(x)))

sin(1) =  0.84147
sin(2) =  0.90930
sin(3) =  0.14112
sin(4) = -0.75680